apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: frontend
  labels:
    app: frontend
data:
  REACT_APP_ORDER_API_URL: "https://order-order.apps.cluster-qpgs4.qpgs4.sandbox3320.opentlc.com"
  REACT_APP_ALLOCATION_API_URL: "https://allocation-allocation.apps.cluster-qpgs4.qpgs4.sandbox3320.opentlc.com"
